@media only screen and (max-width: 1200px) {
    section.subteam .my-carousel {height: 400px;}
  
  section.team .item {
      h3 {font-size: 2vw;}
  }
  section.rozpis { height:auto; padding:0 0 20px 0; }
  
}