
 @media only screen and (max-width: 479px) {
    section.subteam.detail article header img{    position: absolute; width: 110px; height: auto; left: unset; top: 105px; right: 20px; box-shadow: 0 15px 30px rgba(0, 0, 0, 0.75); border-radius: 9px; border: 3px transparent solid; transform: rotate(0deg)!important;}


 }