@media only screen and (max-width: 575px) {

  header {
    h2 { font-size: 34px;}
    span { font-size: 18px; line-height: 24px; font-weight: 500; font-family: Oswald; letter-spacing: -.25px;}
  }


    .mobile {display:block!important; visibility: visible!important; }
    .desktop {display: none!important; visibility: hidden!important; }
    section.subteam .my-carousel .item .name {font-size: 18px;}


  header.hero { height: 460px;background-position: -670px 0px;background-size: 300%;
    header {    top: -12px;
      h2 {font-size: 54px;}
      span { top:0;
        &::before {display: none; visibility:hidden; }
      }
    }
    p { top: 50px; line-height: 38px;}
  }




   /* --> NOVINKY <-- */
   section.novinky {    height: 640px;
    .card {
      button {overflow: hidden;}
      .card-body {
        p { font-size: 16px; line-height: 22px; text-align: justify;}
        &:after {top: 63px;}
      }
        .card-header button {     font-size: 18px;  }
    } 

    .col-md-5 img {display: none;}
  }


  




  /* --> TEAM <-- */
  section.team {    height: 1170px; background: url(img/team.jpg) #e0e0e0 no-repeat;
    .item {height: auto; padding-bottom: 5px; width: 100%;margin-top: 67px;
      &:hover {transform: scale(1);}
      h3 { top: -22px; letter-spacing: 0.55px; font-size: 20px; margin: 0;}
      p {padding: 0px 17px; font-size: 16px; font-weight: 100; line-height: 24px;}
    }
    .col-md-4 {max-width: 100%!important;display: block;flex: 0 0 100%!important;}
  } 


  /* --> ROZPIS <-- */
  section.rozpis {    height: auto;    background-position: 0 0px;
    .container {padding-top:5px;}
    header {
      span {display: none;}
    }
    table {    margin: 50px auto 0;
      td {font-size: 14px!important;
        &:last-child {font-size: 10px!important;}
        &:nth-of-type(1) {    width: 230px;}
      }
    }
  }




  section.subnews article .item p {column-count: 1; }
  section.subnews article .item img {display: none;; }
  section.subnews article .item h2 {font-size: 24px;}


section.subgal {
  li.col-md-2.col-sm-2.col-xs-4 {     width: 19.95%; margin:0; }
  
}

section.sponzori { height:290px;

  .col {   width: 25%!important;    }

}




} 